<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<div class="mainClass">
  <div class="row col-12">
    <h3>Cart Page</h3>
      <div class="container col-lg-6">
        <button class="cartBtn">Total Products in Cart : <b>{{productArray.length}}</b> </button>
        <div class="row col-12">
          @for (item of productArray; track $index) {
          <div class="col-lg-12">
            <div class="card">

                <div class="imgAndInfo">
                  <div class="row col-12">

                    <div class="proImg col-lg-4">
                      <img src="{{item?.img}}" alt="">
                    </div>
                    <div class="info col-lg-8">
    
                      <h5>Name : {{ item?.name }}</h5>
                      <h6>Company : {{ item?.Company }}</h6>
                      <h6>Price : {{ item?.price | currency : "INR" }}</h6>
                      <div>
                        Stock : @if (item?.stock == 'Yes') {
                        <svg
                          fill="#40C057"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 64 64"
                          width="30px"
                          height="30px"
                        >
                          <path d="M27 55L6 33 9 29 26 41 55 12 59 16z" />
                        </svg>
                        }@else{ }
                      </div>
                      <button class="cartButton" (click)="removeFromCart(item)">
                        Remove From cart
                      </button>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          }
        </div>
      </div>
      <div class="orderToatl col-lg-6">
        <app-order-total></app-order-total>
        <div class="placeOrder">
          <button class="goToListBtn" routerLink="/list">Go To List</button>
          <button class="placeOrderBtn" routerLink="/userForm">Place Order</button>
        </div>
      </div>
  </div>
</div>
